:root {
  --text-color: #fff;
  --main-color: #00eeff;
}

.carousel {
  position: relative;
  height: 80vh;
  width: 80%;
  margin: 6.5rem auto 6.5rem auto;
  user-select: none;
}
.carousel-img {
  width: 100%;
  height: 100%;
}

.carousel-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  border-radius: 50%;
  transition: 0.5s ease;
}

.carousel-btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.carousel-btn-left {
  left: -6.5rem;
  cursor: pointer;
}

.carousel-btn-right {
  right: -6.5rem;
  cursor: pointer;
}

.carousel-btn img {
  width: 6rem;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--text-color);
  margin: 0 1.2rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.carousel-indicator:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.carousel-indicator.current-slide {
  background-color: var(--main-color);
}

.is-hidden {
  display: none;
}
